@model Model.EF.About
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="content">
        <h2 style="color:deeppink;text-align:center">@Model.Name</h2>
        <br />
        @Html.Raw(Model.Detail)
    </div>
</div>
