@model Model.EF.About
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<div class="container">
    <div class="content">      
        @Html.Raw(Model.Detail)
    </div>
</div>