@model BabyShop.Models.Forgotpassword
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section category{
    @{Html.RenderAction("Category", "Home");}
}

@if (ViewData["SuccessMsg"] != null)
{
    <div class="single_top">
        <div class="single_grid">
            <div class="alert alert-success" role="alert">
                Một mật khẩu mới đã được gởi vào email của bạn
                <br />Click <a href="/dang-nhap">vào đây </a>để đăng nhập.
            </div>
        </div>
    </div>
}
else
{
    <div class="register">
        @using (Html.BeginForm("Forgotpassword", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken();
            @Html.ValidationSummary(false, "", new { @class = "error" })
            <div class="register-top-grid">
                <h3>Lấy lại mật khẩu</h3>
                <div class="mation">
                    <span>Email<label>*</label></span>
                    @Html.TextBoxFor(model => model.Email)
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
            <div class="register-but">
                <form>
                    <input type="submit" value="Gửi">
                    <div class="clearfix"> </div>
                </form>
            </div>
        }
    </div>
}