<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="15"/>
  <add key="MaxPage" value="5"/>
  <add key="TopHome" value="6"/>
  <add key="TopHot" value="3"/>
 
  <add key="CurrentLink" value="http://hellokids.somee.com/"/>

  <add key="FbAppId" value="316514802027139"/>
  <add key="FbAppSecret" value="cf456900d61821ea0412e7be930a786d"/>
  
  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="z00freestyle00z@gmail.com"/>
  <add key="FromEmailPassword" value="z00hoilamgi00z"/>
  <add key="FromName" value="Hellokids"/>
  <add key="AdminEmail" value="z00hoilamgi00z@gmail.com"/>

  <add key="HomeTitle" value="Hellokids | Website bán quần áo trẻ em"/>
  <add key="HomeKeyword" value="quần áo trẻ em, thời trang trẻ em..."/>
  <add key="HomeDescription" value="Cửa hàng bán quần áo trẻ em thời trang, uy tín, chất lượng...."/>
  
</appSettings>